@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is a demo built in order to show how to migrate to ASP.NET Core.</p>

<img src="~/Content/ms-love-linux.png" />
