@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-demo">
    <div class="container container-demo">
        <h1>Update to ASP.NET Core</h1>
        <p class="lead">From dotnet4.5.2 + ASP.NET Mvc 5 + WebApi => dotnet4.6.1 + ASP.NET Core</p>
    </div>
</div>

    <div ng-app="ms.experience">
        <meteo></meteo>
    </div>