@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-demo">
    <div class="container container-demo">
        <h1>Road to ASP.NET Core</h1>
        <p class="lead">From dotnet4.5.2 + ASP.NET Mvc5 + WebApi + angularjs(es5) => dotnet4.6.1 + ASP.NET Core 2.0 + angularjs(es6)</p>
    </div>
</div>

<div ng-app="ms.experience">
    <weather></weather>
</div>