@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Update to ASP.NET Core</h1>
    <p class="lead">From dotnet4.5.2 + ASP.NET Mvc 5 + WebApi => dotnet4.6.1 + ASP.NET Core</p>
</div>

<div class="row">
    <div class="col-md-12" ng-app="ms.experience">
        <meteo></meteo>
    </div>
</div>