@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This website is a demo built in order to show how to migrate to ASP.NET Core.</p>

<h3>@ViewBag.Message</h3>
<img src="~/Content/ms-love-linux.png" class="img-responsive" style="width:100%;" />
